body:not(.primary-group-admin) {
  .admin-main-nav {
    .nav-pills > li:nth-child(4),
    .nav-pills > li:nth-child(5) {
      display: none;
    }
  }
  .version-checks,
  .admin-report .header .breadcrumb .report .info,
  .dashboard .misc .last-dashboard-update, 
  .dashboard-next .misc .last-dashboard-update,
  .dashboard-new-features {
    display: none;
  }
}
